@import "../../../vendors/common";

.colling {
  display: block;
  width: 46px;
  max-width: 46px;
  height: 46px;
  border: 2px $mainTextColor solid;
  border-radius: 50%;
  padding: 9px;
  margin-top: 20px;

  &:hover {
    border: 2px $mainGoldenColor solid;
    transition: 300ms;

  }

  &_item {
    margin: 12px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../../../../dist/images/phone.png");
    background-position: center;

  }
}